:root {
	--black: #222424;
}

* {
	border: 1px solid red;
	margin: 0; padding: 0;
	color: white;
}

script {
	border: none;
}

body * {
	display: flex;
}

html {
	background: var(--black);
	width: 99%; height: 99%;
	align-self: center;
}

body {
	margin: 3rem;
	border-color: aqua;
	width: 93vw; 
	height: 90vh;
	flex-direction: column;
}

#topbar {
	justify-content: space-between;
}

#function-buttons {
	justify-content: space-between;
	width: 30%; max-width: 30rem;
	column-gap: 2rem;
}

#function-buttons > button {
	background-color: rgb(58, 196, 166);
	width: 50%;
	align-items: center; justify-content: center;
	cursor: pointer;
}

#projectile-stats {
	background-color: purple;
	width: 10%; min-width: 14rem;
	flex-direction: column; row-gap: 0.2rem;
}

#canvaszone {
	background-color: white;
	width: 85%; 
	height: 65%;
	justify-self: center;
	align-self: center;
	margin-top: 5rem;
}

#canvas {
	width: 100%; height: 100%;
}
	
div #sliderInputSpeed {
	font-size: 20px;
	margin-bottom: 1em;

}
	
#sliderInputSpeed {
	-webkit-appearance: none; 
	width: 300px;
	background: linear-gradient(to right, rgba(128, 178, 252, 0.997), rgb(8, 103, 237));
	margin: 10px;
	border-radius: 30px;
	height: 35px;
	transform: translate(70px, 0px);
}

#sliderInputSpeed::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 25px;
	width: 25px;
	border-radius: 35px;
	background: #01364b0f;
	border: 4px double black;

}

#SpeednumInput {
	margin: 10px;
	padding: 0;
	color: white;
	font-size: 23px;
	background-color: #222424;
	border: 1px solid whitesmoke;
	text-align: center;	
	transform: translate(52px, 0px);
}

label{
	font-size: 30px;
	margin: 7px;
	margin-top: 10px;

}

#sliderInputElevation {
	-webkit-appearance: none; 
	width: 300px;
	background: linear-gradient(to right, rgba(116, 184, 112, 0.997), rgb(9, 184, 15));
	margin: 10px;
	border-radius: 30px;
	height: 35px;
	transform: translate(30px, 0px);
}

#sliderInputElevation::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 25px;
	width: 25px;
	border-radius: 35px;
	background: #01364b0f;
	border: 4px double black;

}

#ElevationnumInput {
	margin: 10px;
	padding: 0;
	color: white;
	font-size: 23px;
	background-color: #222424;
	border: 1px solid whitesmoke;
	text-align: center;	
	transform: translate(10px, 0px);
}
