:root {
	--black: #222424;
}

* {
	border: 1px solid red;
	margin: 0; padding: 0;
	color: white;
}

script {
	border: none;
}
body * {
	display: flex;
}

html {
	background: var(--black);
	width: 99%; height: 99%;
	align-self: center;
}

body {
	margin: 3rem;
	border-color: aqua;
	width: 93vw; 
	height: 90vh;
	flex-direction: column;
}

#topbar {
	justify-content: space-between;
}

#function-buttons {
	justify-content: space-between;
	width: 30%; max-width: 30rem;
	column-gap: 2rem;
}

#function-buttons > button {
	background-color: rgb(58, 196, 166);
	width: 50%;
	align-items: center; justify-content: center;
	cursor: pointer;
}

#projectile-stats {
	background-color: purple;
	width: 10%; min-width: 14rem;
	flex-direction: column; row-gap: 0.2rem;
}

#canvaszone {
	background-color: white;
	width: 85%; 
	height: 65%;
	justify-self: center;
	align-self: center;
	margin-top: 5rem;
}

#canvas {
	width: 100%; height: 100%;
}