@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Share+Tech&display=swap');
:root {
	--background-color: rgb(23,23,23);
	--background-color2: rgb(41,41,41);
	--theme-color: rgb(54,173,114);
	--text-color: rgb(225, 225, 225);
	--text-color2: rgb(121, 121, 121);
}

* {
	font-family: "Google Sans Code"; font-size: 20px;
	/*border: 1px solid red;*/
	margin: 0; padding: 0;
	color: var(--text-color);
}

script {
	border: none;
}

body, body * {
	display: flex;
}

html {
	background: var(--background-color);
	width: calc(100% - 2px); height: calc(100% - 2px);
	align-self: center;

}

body {
	margin: 3rem;
	/*border-color: aqua;*/
	width: 80vw; 
	height: 90vh;
	flex-direction: column;
	justify-self: center;
	justify-content: space-between; align-items: center;
}

h1 {
	font-size: 1.8rem;
}

span {
	font-size: inherit;
}

.spoiler {
	background-color: var(--background-color2); color: transparent;
	margin: 0 15px;
	border-radius: 3px;
	transition: color 0.35s ease, background-color 0.35s ease;
}

.spoiler:hover {
	background-color: transparent; color: var(--theme-color);
}

#buttons {
	justify-content: space-between;
	width: 90%;
}

#buttons > button {
	width: 40%; height: 3rem;
	align-items: center; justify-content: center;
	cursor: pointer;
	background: var(--theme-color);
	border-radius: 5px;
}

#canvas-zone {
	width: 85%; 
	height: 65%;
	align-self: center;

	border: white, 2px dashed;
	background-color: var(--background-color2);
	border-radius: 10px;
}

#canvas {
	width: 100%; height: 100%;
}

#simulation-control {
	justify-content: space-between;
	width: 90%;
}

#inputs {
	flex-direction: column;
	justify-content: space-around;

}

#inputs div input {
	margin: 0 10px;
}

#inputs div p {
	color: var(--text-color2);
}

#stats {
	flex-direction: column; row-gap: 0.2rem;
	align-items: flex-end;
}

label {
	font-size: 1.2rem;
}